//site color variables
$body-color: linear-gradient(#fff, #b7e7fa6d);

$bg-color: #dff1f4;
$primary-color: #206562;
$secondary-color: #5477f8;
$text-color: #999db1;
$text-color-dark: #252525;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #c48d53;
$headings-color: #19879b;

$cta-bgcolor: #19879b;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;

// Adressblock
$addressblock1: #546bbc;
$addressblock2: #c48d53;
$button-color: #ffd335;
