.cta {
  padding-top: 3rem;
  padding-bottom: 50px;
  background-color: $cta-bgcolor;
  @include tablet {
    padding-bottom: 20px;
  }
  &-content {
    text-align: center;

    h2 {
      margin-bottom: 15px;
      color: white;

      @include mobile-xs {
        font-size: 20px;
      }
    }
  }
}
.cta a.btn-primary {
  background-color: #ffb544;
  color: $cta-bgcolor;
  font-size: 1.8rem;
}
