.cta {
  padding-top: 3rem;
  padding-bottom: 50px;
  background-color: $cta-bgcolor;
  @include tablet {
    padding-bottom: 20px;
  }
  &-content {
    text-align: center;

    h2 {
      margin-bottom: 15px;
      color: white;

      @include mobile-xs {
        font-size: 20px;
      }
    }
  }
}
.cta a.btn-primary,
.btn-cta {
  background-color: #ffb544;
  color: $cta-bgcolor;
  font-size: 1.8rem;
}

/*
.cta .modal-dialog,
.cta .modal-content {
  // 80% of window height
  height: 80%;
}
.cta .modal-body {
  // 100% = dialog height, 120px = header + footer
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}
*/
