{{ define "main" }}
  <div class="layouts-3-list"></div>
  {{ partial "5_hero.html" . }}
  {{ partial "5_4experiences.html" . }}
  {{ partial "5_3reviews.html" . }}
  {{ partial "5_trustpilot2.html" . }}
  {{ partial "5_mission.html" . }}

  {{ partial "5_instructors.html" . }}
  {{ partial "5_cta.html" . }}
  {{ partial "5_faq.html" . }}
  {{ partial "6_paradanta.html" . }}
  {{ partial "6_who-we-are.html" . }}
  {{ partial "teacher.html" . }}
  {{ partial "5_cta.html" . }}

  {{ partial "contactAddress.html" . }}
{{ end }}
