<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Retreat Reviews</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 responsive-video">
        <iframe
          src="https://player.vimeo.com/video/47387431?title=0&amp
;byline=0&amp;portrait=0&amp;autoplay=0"
          width="1600"
          height="900"
          frameborder="0"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
        <h3>Florin Marcu</h3>
        <p>
          This needs to go to as many people as possible, so they can see it’s
          real, they can touch it and they can completely change their lives.”
        </p>
      </div>
      <div class="col-lg-4 responsive-video">
        <iframe
          src="https://player.vimeo.com/video/47387431?title=0&amp
;byline=0&amp;portrait=0&amp;autoplay=0"
          width="1600"
          height="900"
          frameborder="0"
          webkitAllowFullScreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>

        <h3>Darrel Walker</h3>
        <p>
          “I learned Transcendental Meditation… I have been to more than 130
          Ayahuasca ceremonies… These 10 days gave me more changes than 10
          years.”
        </p>
      </div>

      <div class="col-lg-4 ">
        <h3>Laura Petkeviciute</h3>
        <p>"Quote”</p>
        <iframe
          width="100%"
          height="300px"
          src="https://www.youtube.com/embed/lCPAG1vzSa0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
