<section class="reviews" id="5_4reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Retreat Reviews</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <div style="padding:177.78% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/825511421?h=d770cf9833&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              title="Florin"
            ></iframe>
          </div>
          <div class="card-body">
            <h3>Florin</h3>
            <p>
              "This needs to go to as many people as possible, so they can see
              it’s real, they can touch it and they can completely change their
              lives.”
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <div style="padding:177.78% 0 0 0;position:relative;">
<iframe src="https://player.vimeo.com/video/828130975?h=64c749255c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="[sub] Vertical_kjenta"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="card-body">
            <h3>Kjenta</h3>
            <p>
              "The retreat went more than I ever expected”
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <div style="padding:177.78% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/825512207?h=ebf3a86b64&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="autoplay; fullscreen;"
              allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              title="Darrel"
            >
            </iframe>
          </div>
          <div class="card-body">
            <h3>Darell</h3>
            <p>
              "I learned Transcendental Meditation… I have been to more than 130
              Ayahuasca ceremonies… These 10 days gave me more changes than 10
              years.""
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card">
          <div style="padding:177.78% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/825511601?h=6ad211102d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              title="[sub] Jason_vertical"
            ></iframe>
          </div>

          <div class="card-body">
            <h3>Jason</h3>
            <p>
              "And my heart started to crack open and I started to get this
              vision where I am supposed to go, who am I supposed to be, "the
              pureness" this "I am" started to come alive."
            </p>
          </div>
        </div>
      </div>

      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</section>
