<section class="mission" id="mission">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="section-title">
        <h2>Mission</h2>

      </div>
      <p class="text-left">
          The retreat is the first step of the complete methodology of spiritual realization to get out of the world of illusions/matrix/Samsara. Those who wish to continue their journey can attend the Paradanta Meditation 30-day course and even become students of the school.
Our goal is to create communities of people living in harmony with nature and each other all over the world. We already have 2 study centers in Europe and Russia where more than 100 people live, work and practice together on the journey to higher levels of consciousness.
</p>
<p class="text-left mt-3">
And as a natural side effect of us living deeper in the present moment, the external world starts to change as well. Our efforts help decrease natural disasters, conflicts, violence, and inequality and support restoring the ecological state and increase the vibration level of our planet.
</p>
<p class="text-left mt-2">
* Our Methodology is not affiliated with any political, national or religious beliefs.

        </p>
    </div>
  </div>
</section>
