<section class="reasons experiences" id="reasons">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>What Will You Experience</h2>
        </div>
      </div>

      <div class="col-lg-6  col-md-6">
        <div class="service-item">
          <i class="" aria-hidden="true"></i>
          <h3>Cleansing - The Process of Purification</h3>
          <p>
            At the retreat, both instructors and participants will be immersed
            in an abundant amount of energy. Throughout the retreat, you’ll be
            able to shed outdated mental patterns, bad habits, and old programs,
            enabling you to attain a higher degree of freedom in your life.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="service-item">
          <i class="" aria-hidden="true"></i>
          <h3>Presence - Living from the present moment</h3>
          <p>
            Being in the “present moment” and acting from the here and now is a
            skill that is taught and practiced during the retreat and beyond,
            allowing you to engage with any situation without becoming fully
            absorbed by it. Mastering this skill is essential.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="service-item">
          <i class="" aria-hidden="true"></i>
          <h3>Clarity - Personal Experience</h3>
          <p>
            The primary objective of the retreat is to provide you with the
            opportunity to grasp the breadth of our mission in your own unique
            way. This encompasses understanding what Deep Awakening is and why
            we choose this proven methodology in order to contribute to the
            finding of your true nature, purpose, and potential actions.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="service-item">
          <i
            class="
          "
            aria-hidden="true"
          ></i>
          <h3>Insight - A new reality</h3>
          <p>
            The “Depth of The Problem” refers to the level of control the mind
            exerts over our lives and the entanglement that keeps us bound to
            this illusion. During the retreat you will be able to see this
            reality in order to be able to overcome it.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
