<section class="reasons experiences" id="reasons">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="section-title">
        <h2>Paradanta Meditation</h2>
        <h3> Beyond a retreat - receive you Consonace</h3>
        <p class="text-left">
         Join our immersive 30-day on-site course that delves even deeper than a traditional retreat. Participants will experience a profound journey, accompanied by the acquisition of their own personal "Consonance" for meditation, which forms an integral part of our school's methodology. For further details, please refer to our informational resources.

Upon completion of the Paradanta Meditation course, individuals have the opportunity to become student candidates at our study centers, gaining access to a more advanced level of education. This entails engaging in daily practice alongside our global team, attending regular satsangs with Genadiy, and actively contributing to the awakening of the world.
      </div>
    </div>
  </div>
</section>
