{{ with .Site.Data.hero }}
  {{ if .enable }}
    <section
      class="hero"
      style="background-image: url(/images/hero/hero-bg1.jpg)"
      id="hero1"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="hero-content">
              <h1>Is spirutual awakening your singular obsession?</h1>
              <h1>You are not alone. Lets make the journey together.</h1>?</h1>


            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
