{{ with .Site.Data.instructorsGallery }}
  <section class="blog" id="instuctorsGallery">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .sectiontitle }}</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        {{ range first 18 (where $.Site.RegularPages "Type" "team") }}
          <div class="col-lg-2 col-md-4 col-xs-6">
            <article class="blog-post">
              <img
                src="{{ .Params.featureImage | absURL }}"
                alt="blog-images"
              />
              <div class="blog-content">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ truncate 75 .Summary }}</p>
                <a class="more" href="{{ .Permalink }}"
                  >Read more <span>⟶</span></a
                >
              </div>
            </article>
          </div>
        {{ end }}
        {{/* comments here
          <div class="col-12 text-center">
          <a href="{{ .buttonTarget | absURL }}" class="btn btn-primary"
          >more Instructors</>
          </div>
          */}}
      </div>
    </div>
  </section>
{{ end }}



