<section class="elements" id="retreatElements">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Retreat Elements</h2>
          <p class="text-left">
            An Awakening Retreat is a space specially created for intense
            internal changes. You will dive into deep present moments. The
            experiences launch powerful and natural processes of purification
            and awakening and will lead to a clear perception and vision of
            reality.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element1.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">Observation our inner self</h3>
          <p>
            Observation without intervention lies at the heart of our practice.
            By practicing Stillness, you learn to observe your mind without
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element2.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">Relaxation and Cleansing through breathing</h3>
          <p>
            You can experience the benefits of healing, recovery, and enhanced
            energy by practicing a powerful set of breathing exercises.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element3.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">Bodywork with simple Yoga Asanas</h3>
          <p>
            A set of physical exercises that allows one to learn how to act from
            the body, improve their energy flow and align their spines.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element4.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">Releasing Tension Through Laughter</h3>
          <p>
            A set of physical exercises that allows one to learn how to act from
            the body, improve their energy flow and align their spines.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element5.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">The Power of Prayer</h3>
          <p>
            A set of physical exercises that allows one to learn how to act from
            the body, improve their energy flow and align their spines.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="service-item">
          <img
            src="/images/elements/element6.webp"
            alt="image"
            class="rounded-circle"
          />
          <h3 class="pt-3">Silence</h3>
          <p>
            Staying in silence for a longer time is a powerful tool for
            introspection and self-discovery.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
