<section class="reasons experiences" id="teacher">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="section-title">
        <h2>Our teacher</h2>
        <h3>Genadiy Givin</h3>
        <p class="text-left">
Genadiy was born in Riga, Latvia. He was a very healthy and strong child, so from an early age he was engaged in swimming, and starting in eighth grade in boxing, sambo, and karate, he later became a master of sports. Genadiy combined his successful sports career with an education at Riga Technical University.

In the 10th grade, he met awakened people. The experience he received radically changed his attitude to life and aroused a great desire to learn what was available from these people.
Subsequently, one of these people sent Genadiy to an awakened man who worked in the field of cosmonautics, who opened him to a different path of deep knowledge.

Throughout his conscious life, Genadiy transmits knowledge. People come to him from all over the world. Today he shares his expertise through a team of students from Germany, Latvia, Lithuania, Ukraine, America and more. This transmission is conducted through formats like Retreats, Paradanta Meditation, Satsangs and other courses.
        </p>
      </div>
    </div>
  </div>
</section>